.container {
    /* background-image: url("../732352.jpg" ); */
    /* background-repeat: no-repeat;
    background-size: cover;*/
    /* first background image good in laptop but not in mobile. */
    display: flex;
    flex-direction: column;
}
body{
    background: url("crm.jpg") scroll;
    background-size: fixed;
    text-align: center;
}


.description {
    padding: 1rem 0rem;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: larger
}

#bill-amount {
    display: block;
    width: 30%;
    height: 1vh;
    max-width: 600px;
    margin: auto;
    padding: 0.8rem;
    border-radius: 0.5rem;
}
#bill-amount:hover,#cash-given:hover{
background-color:#a3e635 ;
}
#cash-given {
    display: block;
    width: 30%;
    height: 1vh;
    max-width: 600px;
    margin: auto;
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.label{
    text-align: center;
}
#check-button:hover{
background-color:aqua ;
}

#check-button {
    display: block;
    font-family: 'BIZ UDPMincho', serif;
    width: 20%;
    background-color: #a3e635;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    max-width: 600px;
    margin: auto;


}

textarea{
    font-family: 'BIZ UDPMincho', serif;
    width: 80%;
    background-color: #9fb1c2;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
    padding: 1rem 0rem;
    text-align: center;
    color: black;
}

#error-message {
    padding: 1rem 0rem;
    text-align: center;
    color: black;
}

table,th,td{
    border: 1px solid black;
    margin: auto;
    text-align: center;
}
table{
    width: 50%;
}